@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:200,300,400,600,700&display=swap');

body{
	margin: 0;
	text-align: center;
    position: relative;
    font-family: 'Libre Franklin', sans-serif;
}

.inner{
	position: relative;
	padding-left: 3%;
	padding-right: 3%;
	display: flex;
	margin-top: 30px;
}

.container{
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.left{
	float:left;
	padding-right: 225px;
}

.right{
	align-items: center;
	display: flex;
	padding-left: 225px;
}

img{
	width: 150px;
}

.titre{
	font-weight: 400;
	font-size: 45px;
}

.search {
    border: none;
    color: #fff;
    display: flex;
    margin-top: 50px;
    border-radius: 50px;
    width: 70px;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 200;
    font-size: 15px;
    margin: 10px;
    background-image: linear-gradient(to right, #FF9A8B 0%, #FF6A88  31%, #FF99AC  100%);
}

.home {
    border: solid 1px transparent;
    display: flex;
    margin-top: 50px;
    border-radius: 50px;
    width: 60px;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 200;
    font-size: 15px;
    margin: 10px;
    background-origin: border-box;
    color: hsl(0,0%,50%);
    background-clip: content-box,border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0)), linear-gradient(101deg, #FF9A8B, #FF6A88);
    
}

.ajouter{
	border: none;
    color: #fff;
    display: flex;
    margin-top: 50px;
    border-radius: 50px;
    width: 70px;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 200;
    font-size: 15px;
    margin: 10px;
    background-image: linear-gradient(to right, #FF9A8B 0%, #FF6A88  31%, #FF99AC  100%);
}

input, textarea {
  width: 50%;
  padding:10px;
  margin: 5px;
}


fieldset{
	border: none;
}
